/*
 * @section Misc
 */

.d-none {
    display: none;
}

.unity-base-field> Label.unity-label.unity-base-field__label {
    min-width: 0;
    padding-left: 2px;
    padding-right: 4px;
}

.unity-base-field.unity-base-text-field > #unity-text-input.unity-base-text-field__input {
    min-width: 64px;
}

.unity-base-field.unity-base-text-field.port-backing-field {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 0;
}

EnumField {
    & > .unity-text-element.unity-label.unity-enum-field__label.unity-base-field__label {
        padding-right: 12px;
    }
    .unity-enum-field__input {
        min-width: 96px;
    }
} 

.port-backing-field {
    margin-left: -6px;

    & > Label {
        height: 16px;
        align-self: center;
        -unity-text-align: middle-left;
        padding-top: 0;
    }
}

Vector3Field {
    margin-left: initial;

    .unity-vector3-field__input {
        flex-grow: 1;
        flex-direction: column;

        FloatField {
            flex-shrink: 1;
            flex-grow: 0;
            flex-basis: auto;
            margin-top: 2px;

            Label {
                margin-left: 6px;
                /*font-size: 8px;*/
            }
            
            &.unity-composite-field__field--first {
                margin-top: 0;
                
                & > FloatInput#unity-text-input {
                    min-width: 48px;
                }
            }
        }
    }
}

VectorValueNode VisualElement#extension Vector3Field.unity-vector3-field {
    & > Label.unity-vector3-field__label {
        display: none;
    }
    
    & > VisualElement.unity-vector3-field__input > FloatField > Label {
        margin-left: 4px;
    }
}

/*
 * @section General Node
 */

.categorized {
    .node #title {
        border-bottom-width: 8px;
        border-bottom-color: var(--category-color);
        
        & > #title-label {
            margin-bottom: 0;
            margin-top: 8px;
        }
    }
}

.node {
    --category-color: #242424;

    &.category-Input {
        --category-color: #DB1533;
    }
    
    &.category-Float {
        --category-color: #84E4E7;
    }
    
    &.category-Integer {
        --category-color: #CB3022;
    }

    &.category-Vector {
        --category-color: #F6FF9A;
    }
    
    &.category-Boolean {
        --category-color: #9481E6;
    }
    
    &.category-Geometry {
        --category-color: #FFA300;
    }
    
    &.category-Curve {
        --category-color: #0AC778;
    }
    
    &.category-Point {
        --category-color: #216BCB;
    }
    
    &.category-Properties {
        --category-color: #ff6200;
    }
    
    #collapsible-area {
        background-color: #212121;
    }
    
    #node-border {
        overflow: visible;
        border-width: 0;

        #title {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            #title-label {
                -unity-font-style: bold;
                color: #e2e2e2;
                margin-left: 16px;
                -unity-overflow-clip-box: content-box;
            }
        }
        
        & > VisualElement#contents > VisualElement#top > VisualElement#input {
            flex-shrink: 1;
        }
    }
    
    #selection-border {
        margin: 2px;
        border-radius: 0;
        border-width: 1px;
        border-color: #191919;
    }
    
    &:hover  {
        #selection-border {
            margin: 1px;
            border-width: 2px;
        }
    }

    &:checked, &:hover:checked {
        #selection-border {
            margin: 2px;
            border-width: 1px;
            border-color: #216BCB;
        }
    }
}
