GraphFrameworkPort {
    &.input {
        margin-left: -12px;
    }
    
    &.output {
        margin-right: -12px;
    }

    &.portType-Integer {
        --port-color: #CB3022;
    }
    
    &.portType-Float {
        --port-color: #84E4E7;
    }

    &.portType-Vector {
        --port-color: #F6FF9A;
    }
    
    &.portType-Boolean {
        --port-color: #9481E6;
    }
    
    &.portType-Geometry {
        --port-color: #FFA300;
    }
    
    &.portType-Collection {
        --port-color: #216BCB;
    }
    
    &.portType-String {
        --port-color: #8DCD0D;
    }
    
    &.portType-Curve {
        --port-color: #0AC778;
    }

    &.portType-Instances {
        --port-color: #ECBB02;
    }
}