GraphFrameworkPort {
    &.input {
        margin-left: -12px;
    }
    
    &.output {
        margin-right: -12px;
    }

    &.portType-Integer {
        --port-color: #cb3022;
    }
    
    &.portType-Float {
        --port-color: #84e4e7;
    }

    &.portType-Vector {
        --port-color: #f6ff9a;
    }
    
    &.portType-Boolean {
        --port-color: #9481e6;
    }
    
    &.portType-Geometry {
        --port-color: #FFA300;
    }
    
    &.portType-Collection {
        --port-color: #216bcb;
    }
    
    &.portType-String {
        --port-color: #8dcd0d;
    }
    
    &.portType-Curve {
        --port-color: #0ac778;
    }
}