.d-none {
    display: none;
}

Button {
    cursor: link;
    border-radius: 0;
}

ObjectField.unity-object-field {
    & > VisualElement.unity-object-field__input.unity-base-field__input {
        background-color: var(--obj-field-bg);

        & > ObjectFieldSelector.unity-object-field__selector {
            background-color: var(--obj-field-selector-bg);

            &:hover {
                background-color: var(--obj-field-selector-bg--hover);
            }
        }
    }
}

ObjectField, IntegerField, FloatField, Vector3Field, ColorField, Toggle {
    & > Label {
        min-width: 92px;
    }

    & > .unity-base-field__input {
        border-radius: 0;
    }
}

Vector3Field {
    & > VisualElement.unity-vector3-field__input {
        & FloatField#unity-x-input > Label {
            background-color: var(--vector3-x-label-bg);
        }
        & FloatField#unity-y-input > Label {
            background-color: var(--vector3-y-label-bg);
        }
        & FloatField#unity-z-input > Label {
            background-color: var(--vector3-z-label-bg);
        }

        & .unity-composite-field__field > Label {
            color: var(--vector3-comps-label);
            -unity-font-style: bold;
            -unity-text-align: upper-center;
            padding-left: 6px;
            padding-right: 6px;
            min-width: 21px;
        }
        & .unity-composite-field__field--first > Label {
            padding-left: 5px;
        }
    }
}

Button.toggle-button {
    background-color: var(--toggle-button-bg);
    padding: 3px;
    color: var(--text-white);
    font-size: 13px;
    border-radius: 0;
    -unity-overflow-clip-box: content-box;
    
    &.toggle-button__active {
        //border-color: var(--theme-dark);
        background-color: var(--toggle-button-bg--active);
        -unity-font-style: bold;
    }
    
    &:focus {
        border-color: var(--theme-dark);
        //background-color: var(--toggle-button-bg--focus);
    }
}

VisualElement#GeometryGraphInspector {
    // Fixes padding that unity adds to inspectors
    margin-bottom: -7px;
    margin-top: -1px;
    
    background-color: var(--inspector-bg);
    overflow: hidden;

    & > VisualElement.title {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 4px 6px;
        margin-bottom: 12px;
        margin-left: 32px;
        margin-right: 32px;

        & > .title-icon {
            min-width: 48px;
            min-height: 48px;
            width: 48px;
            height: 48px;
            background-image: resource("Textures/gg_feature@64");
            margin-right: 8px;
        }

        & > .title-label {
            -unity-font-style: bold;
            color: var(--text-white);
            font-size: 22px;
        }
        
        border-bottom-width: 1px;
        border-bottom-color: var(--theme-dark);
    }

    & > VisualElement.content {
        padding-left: 8px;
        padding-right: 8px;
        min-height: 32px;
        
        Button.evaluate-button {
            margin: 4px 0 8px 0;
            padding: 4px;
        }
        
        VisualElement.properties-container {
            & .no-properties-notice {
                color: var(--text-white);
                -unity-text-align: middle-center;
            }
        }
    }
    
    TabContainer.tab-container {
        & > VisualElement.tab-buttons-container {
            flex-direction: row;
            align-content: flex-start;
            
            & > Button.tab-button {
                margin: 0;
                border-width: 0;
                
                flex-shrink: 1;
                width: 100%;
                //min-width: 0;
                
                margin-right: 1px;
                border-top-width: 2px;
                border-top-color: var(--inspector-bg);
                
                padding-top: 3px;
                padding-bottom: 3px;

                &.tab-button__active {
                    border-top-color: var(--theme-dark);
                }
            }
        }

        & > VisualElement.tab-content-container {
            padding-bottom: 4px;
            & > VisualElement.tab-content {
                display: none;
                
                &.tab-content__active {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-width: 1px;
                    margin-right: 1px;
                    border-color: var(--obj-field-bg);
                    display: flex;
                }
            }
        }
    }
    
    VisualElement#MissingGraphNotice {
        padding: 4px;
        Label.missing-graph-notice-main {
            color: var(--text-white);
            -unity-font-style: bold;
            -unity-text-align: middle-center;
            font-size: 18px;
        }
        VisualElement.missing-graph-notice-cta {
            flex-direction: row;
            justify-content: center;
            color: var(--text-white);
            font-size: 14px;

            Label.missing-graph-notice-cta-0 {
                margin: 0;
                padding: 0;
                margin-right: 4px;
            }
            Label.missing-graph-notice-cta-1 {
                margin: 0;
                padding: 0;
            }

            Button.missing-graph-notice-cta-button {
                margin: 0;
                padding: 0;
                border-width: 0;
                border-radius: 0;
                background-color: transparent;
                
                font-size: 14px;
                
                border-bottom-width: 1px;
                border-bottom-color: var(--inspector-bg);
                -unity-overflow-clip-box: content-box;
                color: var(--theme);
                cursor: link;
                
                &:hover {
                    color: var(--theme-dark);
                    border-bottom-color: var(--theme-dark);
                }
                
                &:focus {
                    color: var(--theme-dark);
                    border-bottom-color: var(--theme-dark);
                }
            }    
        }
        
    }
    
    VisualElement.curve-visualizer-container > VisualElement#CurveVisualizerMain {
        VisualElement.curve-settings-container {
            margin-top: 12px;
            
            Label.curve-settings-category-title {
                font-size: 14px;
                color: var(--text-white);
                -unity-font-style: bold;
                margin-left: 3px;
                margin-bottom: 4px;
            }
        }
    }
}