.d-none {
    display: none;
}

VisualElement#GeometryGraphInspector {
    // Fixes padding that unity adds to inspectors
    margin-bottom: -7px;
    margin-top: -1px;
    
    background-color: var(--inspector-bg);
    overflow: hidden;

    & > VisualElement.title {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 4px 6px;
        margin-bottom: 12px;
        margin-left: 32px;
        margin-right: 32px;

        & > .title-icon {
            min-width: 48px;
            min-height: 48px;
            width: 48px;
            height: 48px;
            background-image: resource("Textures/gg_feature@64");
            margin-right: 8px;
        }

        & > .title-label {
            -unity-font-style: bold;
            font-size: 22px;
        }
        
        border-bottom-width: 1px;
        border-bottom-color: var(--theme-dark);
    }

    & > VisualElement.content {
        padding-left: 8px;
        padding-right: 8px;
        min-height: 32px;
        
        ObjectField.unity-object-field {
            & > VisualElement.unity-object-field__input.unity-base-field__input {
                background-color: var(--obj-field-bg);
                
                & > ObjectFieldSelector.unity-object-field__selector {
                    background-color: var(--obj-field-selector-bg);
                    
                    &:hover {
                        background-color: var(--obj-field-selector-bg--hover);
                    }
                }
            }
        }

        ObjectField, IntegerField, FloatField, Vector3Field {
            & > Label {
                min-width: 80px;
            }
            
            & > .unity-base-field__input {
                border-radius: 0;
            }
        }
        
        Vector3Field {
            & > VisualElement.unity-vector3-field__input {
                & FloatField#unity-x-input > Label {
                    background-color: var(--vector3-x-label-bg);
                }
                & FloatField#unity-y-input > Label {
                    background-color: var(--vector3-y-label-bg);
                }
                & FloatField#unity-z-input > Label {
                    background-color: var(--vector3-z-label-bg);
                }
                
                & .unity-composite-field__field > Label {
                    color: var(--vector3-comps-label);
                    -unity-font-style: bold;
                    padding-left: 6px;
                    padding-right: 6px;
                    min-width: 21px;
                }
            }
        }
        
        PropertyField#exporter-field {
            margin-bottom: 8px;
        }
        
        VisualElement.properties-container {
            //margin-left: 8px;
            
        }
    }
    
    TabContainer.tab-container {
        & > VisualElement.tab-buttons-container {
            flex-direction: row;
            align-content: flex-start;
            
            & > Button.tab-button {
                margin: 0;
                border-radius: 0;
                
                flex-shrink: 1;
                width: 100%;
                //min-width: 0;
                
                margin-right: 1px;
                
                border-width: 0;
                border-top-width: 2px;
                border-top-color: var(--inspector-bg);
                
                padding-top: 3px;
                padding-bottom: 3px;

                &.tab-button__active {
                    border-top-color: var(--theme-dark);
                }
            }
        }

        & > VisualElement.tab-content-container {
            padding-bottom: 4px;
            & > VisualElement.tab-content {
                display: none;
                
                &.tab-content__active {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-width: 1px;
                    border-color: var(--obj-field-bg);
                    display: flex;
                }
            }
        }
    }
}