VisualElement#GeometryGraphInspector {
  --inspector-bg: #383838;
  --obj-field-bg: #2A2A2A;
  --obj-field-selector-bg: #373737;
  --obj-field-selector-bg--hover: #4C4C4C;
}

/*# sourceMappingURL=gg_dark.uss.map */
