VisualElement#GeometryGraphInspector {
    --inspector-bg: #C8C8C8;
    --obj-field-bg: #F0F0F0;
    --obj-field-selector-bg: #DEDEDE;
    --obj-field-selector-bg--hover: #CCCCCC;

    --vector3-x-label-bg: #e82609; // todo: needs update for light theme
    --vector3-y-label-bg: #53c627; // todo: needs update for light theme
    --vector3-z-label-bg: #1b88ff; // todo: needs update for light theme
    --vector3-comps-label: #ffffff; // todo: needs update for light theme

    --text-white: #ffffff; // todo: needs update for light theme
    
    --theme-dark: #e88300;
}