VisualElement#GeometryGraphInspector {
    --inspector-bg: #C8C8C8;
    --obj-field-bg: #F0F0F0;
    --obj-field-selector-bg: #DEDEDE;
    --obj-field-selector-bg--hover: #CCCCCC;
    
    --toggle-button-bg: #CCCCCC; // todo: needs update for light theme
    --toggle-button-bg--active: #D7D7D7; // todo: needs update for light theme

    --vector3-x-label-bg: #c62c15; // todo: needs update for light theme
    --vector3-y-label-bg: #439a24; // todo: needs update for light theme
    --vector3-z-label-bg: #1e6cc2; // todo: needs update for light theme
    --vector3-comps-label: var(--text-white); // todo: needs update for light theme

    --text-white: #ffffff; // todo: needs update for light theme
    
    --theme: #FFA300;
    --theme-dark: #e88300;
}